@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLoginSignUp.cshtml";
}
<div class="container">
    <form class="containerS">
        <div class="title fw-bold">Login</div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remmber Me</label>
        </div>
        <div class="mb-3 d-flex justify-content-center align-items-center flex-column">
            <button type="submit" class="Button btn-primary">Submit</button>
            <a class="Button btnsForm btn-primary">Login with Google</a>
            <a asp-action="SignUp" asp-controller="home" class="Button btnsForm btn-primary">Sign Up</a>
            <a asp-action="index" asp-controller="home">back home</a>
        </div>
    </form>
</div>
