@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/_LayoutLoginSignUp.cshtml";
}
<div class="container">
    <div class="title">Create Account</div>
    <div class="content">
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Full Name</span>
                    <input type="text" placeholder="Enter your name" required>
                </div>
                <div class="input-box">
                    <span class="details">Username</span>
                    <input type="text" placeholder="Enter your username" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" placeholder="Enter your email" required>
                </div>
                <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input type="text" placeholder="Enter your number" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="text" placeholder="Enter your password" required>
                </div>
                <div class="input-box">
                    <span class="details">Confirm Password</span>
                    <input type="text" placeholder="Confirm your password" required>
                </div>
            </div>

            <div class="button">
                <input type="submit" value="Create"> <i class="fa-solid fa-plus"></i>
            </div>
            <div class="button">
                <input type="submit" value="Sign up with Google"> <i class="fa-brands fa-google"></i>
            </div>
        </form>
    </div>
</div>