:root {
    --colorWhite: white;
    --colorbg: #0d6efd;
    --colorbg2: #0750ba;
    --gray: #E0E0E0;
    --borderColor: rgba(0,0,0,.125);
}
.list-groups{
    width:50%;
    margin:auto;
}
@media (max-width:991px) {
    .list-groups {
        width: 80%;
    }
}
.list-group-item + .list-group-item {
    border-top-width:1px;
}
.card-body {
    border-top: 1px solid var(--borderColor);
}