:root {
    --colorWhite: white;
    --colorbg: #0d6efd;
    --colorbg2: #0750ba;
    --gray: #E0E0E0;
    --borderColor: rgba(0,0,0,.125);
}
.Footer {
    background: var(--colorbg);
}
footer p,footer .nav li a {
    color: var(--colorWhite);
}
    footer .nav li a:hover, .headFooter:hover {
        color: var(--colorWhite);
    }
.fa-align-center:before{
    content:none;
}
.Footer h5, .headFooter {
    color: var(--colorWhite);
    font-size: 30px;
    padding-top:0;
}
a:hover {
    color: var(--colorWhite);
}
.list-unstyled li a{
    width:30px;
    height:30px;
}
.list-unstyled{
    gap:10px;
    justify-content:start;
}
.list-unstyled li {
    border-radius: 50%;
    background: var(--colorWhite)
}
.list-unstyled li a svg {
    font-size: 20px;
    color:var(--colorbg);
}
@media(max-width:767px) {
    .foot {
        width:100%;
        text-align:center;
    }
    .Footer h5, .headFooter {
        justify-content: center;
    }
    .list-unstyled {
        justify-content:center;
    }
}
@media(max-width:576px){
    .row{
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
}
.fsFooter{
    font-size:14px;
}